@media (320px <= width <= 480px){
     
    .nav-container{
        width: 100vw;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav-container img{
        height: 90px;
    }

     .nav-container .input-nav{
        width: 80%;
        flex-direction: column;
    }

    .nav-container .input-nav .search-input{
        width: 100%;
        padding: 10px 10px;
        border-radius: 5px;
        outline: none;
        border: transparent;
    }

    .nav-container .input-nav .btn-container{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .nav-container .input-nav .btn-search-nav{
        padding: 10px 30px;
        clear: both;
    }

    .nav-container .input-nav .btn-clean-search-nav{
        padding: 10px 30px;
    }

    .nav-container .input-nav .btn-clean-search-disable{
        padding: 10px 30px;
    }

}

@media (481px <= width <= 767px){

}

@media (481px <= width <= 767px) and ( orientation: landscape ){

    .nav-container{
        width: 100vw;
        height: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 3vw;
    }
    
    .nav-container .logo-nav{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-container img{
        height: 60px;
    }
    
    .nav-container .input-nav{
        width: 80%;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-container .input-nav .search-input{
        width: 200px;
        padding: 10px 10px;
        border-radius: 5px;
        outline: none;
        border: transparent;
    }
    
    .nav-container .input-nav .btn-container{
        width: 46%;
        margin-left: 15px;
        justify-content: space-between;
    }

    .nav-container .input-nav .btn-search-nav{
        padding: 10px 20px;
    }

    .nav-container .input-nav .btn-clean-search-nav{
        padding: 10px 20px;
    }

    .nav-container .input-nav .btn-clean-search-disable{
        padding: 10px 20px;
    }

}

@media (768px <= width <= 1023px) and ( orientation: portrait ){

    .nav-container{
        width: 100vw;
        height: 300px;
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .nav-container .logo-nav{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .nav-container img{
        height: 80px;
    }
    
    .nav-container .input-nav{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nav-container .input-nav .search-input{
        width: 600px;
        padding: 10px 10px;
        border-radius: 5px;
        outline: none;
        border: transparent;
    }
    
    .nav-container .input-nav .btn-container{
        width: 50%;
        margin-top: 30px;
        justify-content: space-between;
    }

    .nav-container .input-nav .btn-search-nav{
        display: flex;
        padding: 10px 30px;
    }
    
    .nav-container .input-nav .btn-clean-search-nav{
        display: flex;
        padding: 10px 30px;
    }
    
    .nav-container .input-nav .btn-clean-search-disable{
        display: flex;
        padding: 10px 30px;
    }


}

@media (768px <= width <= 1023px) and ( orientation: landscape ){

    .nav-container{
        width: 100vw;
        height: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 5vw;
    }
    
    .nav-container .logo-nav{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-container img{
        height: 60px;
    }
    
    .nav-container .input-nav{
        width: 80%;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-container .input-nav .search-input{
        width: 300px;
        padding: 10px 10px;
        border-radius: 5px;
        outline: none;
        border: transparent;
    }
    
    .nav-container .input-nav .btn-container{
        width: 30%;
        margin-left: 15px;
        justify-content: space-between;
    }

    .nav-container .input-nav .btn-search-nav{
        padding: 10px 20px;
    }

    .nav-container .input-nav .btn-clean-search-nav{
        padding: 10px 20px;
    }

    .nav-container .input-nav .btn-clean-search-disable{
        padding: 10px 20px;
    }


}

@media (1024px <= width <= 1199px){

    .nav-container{
        width: 100vw;
        height: 300px;
        padding: 0 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .nav-container .logo-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .nav-container img{
        height: 100px;
    }
    
    .nav-container .input-nav{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nav-container .input-nav .search-input{
        width: 500px;
        padding: 10px 10px;
        border-radius: 5px;
        outline: none;
        border: transparent;
    }
    
    .nav-container .input-nav .btn-container{
        width: 40%;
        margin-top: 30px;
        justify-content: space-between;
    }

    .nav-container .input-nav .btn-search-nav{
        display: flex;
        padding: 10px 30px;
    }
    
    .nav-container .input-nav .btn-clean-search-nav{
        display: flex;
        padding: 10px 30px;
    }
    
    .nav-container .input-nav .btn-clean-search-disable{
        display: flex;
        padding: 10px 30px;
    }

}

@media (1200px <= width <= 1919px){

    .nav-container{
        width: 100vw;
        height: 150px;
        padding: 0 10vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .nav-container .logo-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-container img{
        height: 80px;
    }
    
    .nav-container .input-nav{
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-container .input-nav .search-input{
        width: 400px;
        padding: 10px 10px;
        border-radius: 5px;
        outline: none;
        border: transparent;
    }
    
    .nav-container .input-nav .btn-container{
        width: 30%;
        margin-left: 15px;
        justify-content: space-between;
    }

    .nav-container .input-nav .btn-search-nav{
        display: flex;
        padding: 10px 30px;
    }
    
    .nav-container .input-nav .btn-clean-search-nav{
        display: flex;
        padding: 10px 30px;
    }
    
    .nav-container .input-nav .btn-clean-search-disable{
        display: flex;
        padding: 10px 30px;
    }
}

@media (1920px <= width <= 2600px){

    .nav-container{
        width: 100vw;
        height: 150px;
        padding: 0 15vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-container .logo-nav{
        width: 20%;
    }

    .nav-container img{
        height: 90px;
        margin-right: 30px;
    }

    .nav-container .input-nav{
        width: 65%;
        flex-direction: row;
    }

    .nav-container .input-nav .search-input{
        width: 400px;
        padding: 10px 10px;
        border-radius: 5px;
        outline: none;
        border: transparent;
    }

    .nav-container .input-nav .btn-container{
        width: 20%;
        margin-left: 15px;
        justify-content: space-between;
    }

    .nav-container .input-nav .btn-search-nav{
        display: flex;
        padding: 10px 30px;
    }
    
    .nav-container .input-nav .btn-clean-search-nav{
        display: flex;
        padding: 10px 30px;
    }
    
    .nav-container .input-nav .btn-clean-search-disable{
        display: flex;
        padding: 10px 30px;
    }
}

.nav-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container .input-nav{
    display: flex;
    align-items: center;
}

.nav-container .search-input::placeholder{
    color: #bcbcbc;
}

.nav-container .input-nav .search-input:focus{
    outline: 2px solid #fa1818; 
}

.nav-container .input-nav .btn-container{
    display: flex;
    align-items: center;
}

.nav-container .input-nav .btn-search-nav{
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    background: linear-gradient(145deg,rgb(131, 0, 0) 40%, rgba(249, 21, 21, 0.75));
    transition: .5s all ease-in-out;
}

.nav-container .input-nav .btn-clean-search-disable .btn-icon-seach-nav,
.nav-container .input-nav .btn-clean-search-nav .btn-icon-seach-nav,
.nav-container .input-nav .btn-search-nav .btn-icon-seach-nav{
    margin-right: 10px;
}

.nav-container .input-nav .btn-clean-search-nav:hover,
.nav-container .input-nav .btn-search-nav:hover{
    background-image: linear-gradient(145deg,rgba(249, 21, 21, 0.75) 10%, rgba(131, 0, 0,1));
}

.nav-container .input-nav .btn-clean-search-nav{
    border: none;
    border-radius: 5px;
    color: #FFF;
    margin-left: 10px;
    cursor: pointer;
    background-image: linear-gradient(145deg,rgb(131, 0, 0) 40%, rgba(249, 21, 21, 0.75));
    transition: .5s all ease-in-out;
}

.nav-container .input-nav .btn-clean-search-disable{
    border: none;
    border-radius: 5px;
    color: #696969;
    margin-left: 10px;
    cursor: pointer;
    background-image: linear-gradient(145deg,rgb(24, 24, 24) 40%, rgba(71, 71, 71, 0.75));
    transition: .5s all ease-in-out;
    cursor: not-allowed;
}