@media (320px <= width <= 480px){

    .img-init-container .imageS{
        height: 45vh;
        margin-top: 5vh;
    }

}

@media (481px <= width <= 767px){

   
}

@media (768px <= width <= 1023px){

    .img-init-container .imageG{
        height: 30vh;
    }

}

@media (1024px <= width <= 1199px){

    .img-init-container .imageG{
        height: 25vh;
    }

}

@media (1200px <= width <= 1919px){

      .img-init-container .imageG{
        height: 40vh;
    }

}

@media (1920px <= width <= 2600px){

    .img-init-container .imageG{
        width: 40%;
    }

}


.img-init-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 11;
}

.movies-container{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d2d2d;
    margin: 0 auto;
}

.movies-container .movies{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



