@media (320px <= width <= 480px){

    .img-init-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-init-container .imageS{
        height: 45vh;
        margin-top: 5vh;
    }
 

}

@media (481px <= width <= 767px){

}

@media (768px <= width <= 1023px){

}

@media (1024px <= width <= 1199px){

}

@media (1200px <= width <= 1919px){
}

@media (1920px <= width <= 2600px){
  
}





.loading-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 11;
}

.movies-container{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center; */
    color: #2d2d2d;
    /* border: thin dotted #f0f; */
    margin: 0 auto;
    /* overflow-x: hidden; */
}

.movies-container .movies{
    /* height: 60%; */
    /* padding: 0 120px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imageG{
    width: 50%;
    margin-left: 25%;
}


